* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --background-color: hsl(283, 47%, 97%);
  --textColor1: hsl(320, 69%, 42%);
  --textColor2: hsl(244, 38%, 28%);
  --background-color-Dark: hsla(242, 50%, 38%, 1);
  --backgruond-color-card: hsla(0, 0%, 100%, 1);
}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  background-color: var(--background-color);
}


body #initialArrow {
  width: 3.7rem;
  margin: 3rem auto 9.3rem;
  display: flex;
}

body #astroImg {
  margin-bottom: 1rem;
}

body .moonImg {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;
}

body h1 {
  color: var(--textColor1);
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  text-align: center;
}

body p {
  color: var(--textColor2);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
}

main section.intro-section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

main section.intro-section .intro-section-2 {
  display: flex;
  flex-direction: column;
}

main section.intro-section img {
  margin: 0 3.2rem;
}

main section.content-section {
  background-color: var(--background-color-Dark);
}

main section.content-section article {
  background-color: var(--backgruond-color-card);
  margin: 5rem 4rem;
  padding: 2.6rem;
  border-radius: 1.2rem;
  margin: 5.3rem 4rem;
}

main section.content-section article h1 {
  margin-bottom: 1rem;
  text-align: start;
}

main section.contact-section input,
main section.contact-section textarea {
  border: none;
}

main section.contact-section h1 {
  margin-top: 7rem;
}

main section .userNameContact,
main section .userEmailContact {
  border: 0.2rem var(--textColor2) solid;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 1.3rem;
}

main .inputSection {
  margin-top: 4.3rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

main section input::placeholder,
main section textarea::placeholder {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--textColor2);
  opacity: 0.9;
}

main section .userNameContact input,
main section .userEmailContact input {
  margin: 1.2rem auto 1.2rem 1.2rem;
  background-color: var(--background-color);
}

main section #textUser {
  border: 0.2rem var(--textColor2) solid;
  border-radius: 1rem;
}

main section textarea {
  padding: 1.6rem 1.2rem;
  background-color: var(--background-color);
}

main section.contact-section .buttonSubmit button {
  color: white;
  padding: 1rem 1.6rem;
  background-color: var(--background-color-Dark);
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: center;
  margin: 2.4rem 0 7rem;
}

main footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-Dark);
  width: 100vw;
}

main footer small {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin: 3.2rem auto;
}

.hide {
  opacity: 0;
  display: none;
}
@media (min-width: 700px) {
  main section.intro-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100vw;
  }

  main section.intro-section .intro-section-2 .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  main section.intro-section .intro-section-2 {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    margin-left: 5rem;
  }

  body #initialArrow {
    margin: 0;
  }

  main section.content-section {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;

  }

  main section.content-section article {
    width: 30rem;
    height: 45rem;
    margin: 3rem 0.5rem;
  }

  main section.contact-section {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  main section .contact-section-1 {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 5rem;
  }

  main section .contact-section-1 textarea {
    width: 40vw;

  }

  main section .contact-section-2 img {
    width: 40vw;
  }

  .hide {
    opacity: 1;
    display: flex;
  }
}
